<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <title>Login</title>
</head>
<body>
<div th:include="/fragments::header"></div>
<div class="right">
    <a class="link" onclick="window.location.href='/login?lang=en'"><b>EN</b></a>
    <a class="link" onclick="window.location.href='/login?lang=pl'"><b>PL</b></a>
</div>
<div class="login-container">
    <form method="post" th:action="@{/login}">
        <label><span th:text="#{text.user.login.name}"></span> <input type="text" name="username"/> </label><br>
        <label><span th:text="#{text.user.login.password}"></span><input type="password" name="password"/> </label>
        <div class="error-message" th:if="${(param.error != null)}">
            <span th:text="#{text.user.login.error}"></span>
        </div>
        <br>
        <br>
        <button class="button" type="submit"><span th:text="#{button.user.login}"></span> </button>
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    </form>
</div>
<div th:include="/fragments::footer"></div>
</body>
</html>