<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <title>logout</title>
</head>
<body>
<div class="login-container">
    <form method="post" th:action="@{/logout}">
        <input class="text-font" type="submit" value="Wyloguj">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    </form>
    <a th:href="@{/mainPage}">
        <button>Anuluj</button>
    </a>

</div>
<div th:include="/fragments::footer"></div>
</body>
</html>