<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <title>Main Page</title>
</head>
<body>
<div th:include="/fragments::userHeader"></div>
<div class="right">
    <a class="link" onclick="window.location.href='/user/mainPage?lang=en'"><b>EN</b></a>
    <a class="link" onclick="window.location.href='/user/mainPage?lang=pl'"><b>PL</b></a>
</div>
<div class="main-page">
    <p class="text-size-mid-minus link-color">Najnowsze artykuły z 'samoloty.pl'</p>
</div>
<div class="main-page">

    <table>
        <div>
            <tr>
                <th th:text="${firstTitle}"></th>
            </tr>
            <tr>
                <td><span th:text="${firstArticle}"></span></td>
            </tr>
        </div>
    </table>
    <a th:href="${firstLink}">
        <button class="button"><span th:text="#{button.more}"></span></button>
    </a>
</div>

<div class="main-page">
    <table>
        <div>
            <tr>
                <th th:text="${secondTitle}"></th>
            </tr>
            <tr>
                <td><span th:text="${secondArticle}"></span></td>
            </tr>
        </div>
    </table>
    <a th:href="${secondLink}">
        <button class="button"><span th:text="#{button.more}"></span></button>
    </a>
</div>
<div th:include="/fragments::footer"></div>
</body>
</html>
