<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <title>Register</title>
</head>
<body>
<div th:include="/fragments::header"></div>
<div class="right">
    <a class="link" onclick="window.location.href='/register?lang=en'"><b>EN</b></a>
    <a class="link" onclick="window.location.href='/register?lang=pl'"><b>PL</b></a>
</div>
<form th:action="@{/register}" method="post" th:object="${user}" class="container">
    <div>
        <input type="text" th:field="*{firstName}" th:placeholder="#{text.user.register.name}">
        <p class="error-message" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
    </div>
    <div>
        <input type="text" th:field="*{lastName}" th:placeholder="#{text.user.register.last.name}">
        <p class="error-message" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
    </div>
    <div>
        <input type="text" th:field="*{email}" th:placeholder="#{text.user.register.email}">
        <p class="error-message" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
        <p class="error-message" th:if="${emailError}!= null" th:text="#{text.user.register.email.error.message}"></p>

    </div>
    <div>
        <input type="password" th:field="*{password}" th:placeholder="#{text.user.register.password}">
        <p class="error-message" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
    </div>
    <div>
        <input type="password" name="repass" th:placeholder="#{text.user.register.repeat.password}">
        <p class="error-message" th:if="${passError}!=null" th:text="#{text.user.register.password.error.message}"></p>
    </div>
    <div>
        <button class="button" type="submit"><span th:text="#{link.register}"></span></button>
    </div>
</form>

<div th:include="/fragments::footer"></div>

</body>
</html>