<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <title>Register</title>
</head>
<body>
<div th:include="/fragments::header"></div>
<form th:action="@{/register}" method="post" th:object="${user}" class="container">
    <div>
        <input type="text" th:field="*{firstName}" placeholder="Imię">
        <p class="error-message" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
    </div>
    <div>
        <input type="text" th:field="*{lastName}" placeholder="Nazwisko">
        <p class="error-message" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
    </div>
    <div>
        <input type="text" th:field="*{email}" placeholder="Email">
        <p class="error-message" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
        <p class="error-message" th:text="${emailError}"></p>

    </div>
    <div>
        <input type="password" th:field="*{password}" placeholder="Hasło">
        <p class="error-message" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
    </div>
    <div>
        <input type="password" name="repass" placeholder="Powtórz hasło">
        <p class="error-message" th:text="${passError}"></p>
    </div>
    <div>
            <input class="text-font" type="submit" value="submit">
    </div>
</form>

<div th:include="/fragments::footer"></div>

</body>
</html>