:root {
    --link-color: #6c0527;
    --background-color: #919764;
    --login-color: #c7c99a;
    --error-message-color: #9c0639;
}

.footer-container {
    padding: 30px;
    text-align: center;
    font-size: large;
    background: var(--background-color);
    margin-top: 30px;
    bottom: 0;
    position: fixed;
    width: 100%;
}

.header-container {
    padding: 30px;
    text-align: match-parent;
    font-size: large;
    background: var(--background-color);
    margin-bottom: 30px;
    top: 0;
    position: fixed;
    width: 100%;
}

.login-container {
    padding: 50px;
    border: solid black 1px;
    width: 400px;
    margin: 50px;
    text-align: right;
    background: var(--login-color);
    display: flex;
}

.link {
    color: var(--link-color);
}

body {
    background: lightyellow;
}

img {
    border: solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.error-message {
    color: var(--error-message-color);
}

.text-font {
    font-family: "DejaVu Serif";
}
