:root {
    --link-color: #6c0527;
    --background-color: #919764;
    --login-color: #c7c99a;
    --error-message-color: #9c0639;
}

.footer-container {
    padding: 30px;
    text-align: center;
    font-size: large;
    background: var(--background-color);
    margin-top: 30px;
    bottom: 0;
    position: fixed;
    width: 100%;
    display: block;
}

.header-container {
    padding: 40px;
    background: var(--background-color);
    margin-bottom: 40px;
    top: 0;
    width: 100%;
    text-align: center;
}

.login-container {
    padding: 50px;
    border: solid black 1px;
    width: 400px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    text-align: right;
    background: var(--login-color);
}


body {
    background: lightyellow;
}

img {
    border: solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.error-message {
    color: var(--error-message-color);
    font-size: 14px;
    margin-top: -1px;
}

.text-font {
    font-family: "DejaVu Serif";
}

.container {
    padding: 50px;
    border: solid black 1px;
    width: 400px;
    margin-top: 50px;
    background: var(--login-color);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
}
.container-add{
    padding: 50px;
    border: solid black 1px;
    width: 100%;
    background: var(--login-color);
    margin: 50px auto 30px;
    text-align: center;
    display: block;
    position: relative;
}
.logout-container{
    padding: 50px;
    border: solid black 1px;
    width: 200px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background: var(--login-color);
}

.link {
    color: var(--link-color);
    font-size: large;
    margin-left: 10px;
    margin-right: 10px;
}


.link:link {
    text-decoration: none;
}
.link:hover{
    color: goldenrod;
}
.center{
    text-align: center;
}
.container-about{
    padding: 50px;
    border: solid black 1px;
    width: 600px;
    background: var(--login-color);
    margin: 50px auto;
    text-align: center;
    display: block;
}