<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add an aircraft</title>
</head>
<body>
<td><a th:href="@{/aircraft/list}"><button>Back to aircraft list without saving</button></a></td>


    <form th:action="@{/aircraft/add}" th:object="${aircraft}" method="post">
        <table>
            <tr>
                <td>Name:</td>
                <td><input type="text" th:field="*{name}" /></td>
                <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
            </tr>
            <tr>
                <td>Manufacturer:</td>
                <td><input type="text" th:field="*{manufacturer}" /></td>
                <td th:if="${#fields.hasErrors('manufacturer')}" th:errors="*{manufacturer}">Manufacturer Error</td>
            </tr>
            <tr>
                <td>Assignment:</td>
                <td><input type="text" th:field="*{assignment}" /></td>
                <td th:if="${#fields.hasErrors('assignment')}" th:errors="*{assignment}">Assignment Error</td>
            </tr>
            <tr>
                <td>Role:</td>
                <td><input type="text" th:field="*{role}" /></td>
                <td th:if="${#fields.hasErrors('role')}" th:errors="*{role}">Role Error</td>
            </tr>
            <tr>
                <td>Body:</td>
                <td><input type="text" th:field="*{body}" /></td>
                <td th:if="${#fields.hasErrors('body')}" th:errors="*{body}">Body Error</td>
            </tr>
            <tr>
                <td>Wake turbulence category:</td>
                <td><input type="text" th:field="*{wakeTurbulenceCategory}" /></td>
                <td th:if="${#fields.hasErrors('wakeTurbulenceCategory')}" th:errors="*{wakeTurbulenceCategory}">Wake turbulence category Error</td>
            </tr>
            <tr>
                <td>Wings:</td>
                <td><input type="text" th:field="*{wings}" /></td>
                <td th:if="${#fields.hasErrors('wings')}" th:errors="*{wings}">Wings Error</td>
            </tr>
            <tr>
                <td>Wings position:</td>
                <td><input type="text" th:field="*{wingsPosition}" /></td>
                <td th:if="${#fields.hasErrors('wingsPosition')}" th:errors="*{wingsPosition}">Wings position Error</td>
            </tr>
            <tr>
                <td>Tail:</td>
                <td><input type="text" th:field="*{tail}" /></td>
                <td th:if="${#fields.hasErrors('tail')}" th:errors="*{tail}">Tail Error</td>
            </tr>
            <tr>
                <td>Number of engines:</td>
                <td><input type="number" th:field="*{numberOfEngines}" /></td>
                <td th:if="${#fields.hasErrors('numberOfEngines')}" th:errors="*{numberOfEngines}">Number of engines Error</td>
            </tr>
            <tr>
                <td>Type of engines:</td>
                <td><input type="text" th:field="*{enginesType}" /></td>
                <td th:if="${#fields.hasErrors('enginesType')}" th:errors="*{enginesType}">Type of engines Error</td>
            </tr>
            <tr>
                <td>Engines location:</td>
                <td><input type="text" th:field="*{enginesLocation}" /></td>
                <td th:if="${#fields.hasErrors('enginesLocation')}" th:errors="*{enginesLocation}">Engines Location Error</td>
            </tr>
            <tr>
                <td>Crew:</td>
                <td><input type="number" th:field="*{crew}" /></td>
                <td th:if="${#fields.hasErrors('crew')}" th:errors="*{crew}">Crew Error</td>
            </tr>
            <tr>
                <td>Passengers:</td>
                <td><input type="number" th:field="*{passengers}" /></td>
                <td th:if="${#fields.hasErrors('passengers')}" th:errors="*{passengers}">Passengers Error</td>
            </tr>
            <tr>
                <td>Max speed:</td>
                <td><input type="number" th:field="*{maxSpeed}" /></td>
                <td th:if="${#fields.hasErrors('maxSpeed')}" th:errors="*{maxSpeed}">Max speed Error</td>
            </tr>
            <tr>
                <td>Range:</td>
                <td><input type="number" th:field="*{rangeOfAircraft}" /></td>
                <td th:if="${#fields.hasErrors('rangeOfAircraft')}" th:errors="*{rangeOfAircraft}">Range Error</td>
            </tr>
            <tr>
                <td>Ceiling:</td>
                <td><input type="number" th:field="*{ceiling}" /></td>
                <td th:if="${#fields.hasErrors('ceiling')}" th:errors="*{ceiling}">Ceiling Error</td>
            </tr>
            <tr>
                <td>Rate of climb:</td>
                <td><input type="number" th:field="*{rateOfClimb}" /></td>
                <td th:if="${#fields.hasErrors('rateOfClimb')}" th:errors="*{rateOfClimb}">Rate of climb Error</td>
            </tr>
            <tr>
                <td><button type="submit">Submit</button></td>
            </tr>
        </table>
    </form>

</body>
</html>