<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete aircraft</title>
</head>
<body>
<p>na pewno usuwać statek o nazwie: <span th:text="${aircraft.name}">name</span>?</p>
<form th:action="@{/aircraft/delete}" method="post">
    <input type="hidden" th:value="${aircraft.id}" name="id" />
    <button type="submit">Delete</button>
</form>
<a th:href="@{/aircraft/details(id=${aircraft.id})}"><button>Back to details without deleting</button></a>
</body>
</html>