<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>fragments</title>
</head>
<body>
<div th:fragment="header">
    <div class="header">
        <div class="text-center">
            <a class="link" th:href="@{/login}"><span th:text="#{link.login}"></span></a>
            <a class="link" th:href="@{/register}"><span th:text="#{link.register}"></span></a>
            <a class="link" th:href="@{/about}"><span th:text="#{link.about}"></span></a>
            <a class="link" th:href="@{/}"><span th:text="#{link.home}"></span></a>
        </div>
    </div>
</div>
<div th:fragment="userHeader">
    <div class="header">
        <div class="left">
            <span class="name link-color" sec:authentication="name"></span>
        </div>
        <div class="right">
            <a class="link" th:href="@{/user/mainPage}"><span th:text="#{link.home}"></span> </a>
            <a class="link" th:href="@{/aircraft/list}"><span th:text="#{link.aircraft.list}"></span> </a>
            <a class="link" th:href="@{/quiz}"><span th:text="#{link.quiz}"></span> </a>
            <a class="link" th:href="@{/logout}"><span th:text="#{link.logout}"></span> </a>
        </div>
    </div>
</div>


<div th:fragment="footer">
    <div class="footer">
        <h5>Copyright <span class="link-color">Natalia Telego</span></h5>
    </div>
</div>

</body>
</html>