<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">

    <title>Add an aircraft</title>
</head>
<body>
<div th:include="fragments::userHeader"></div>
<div class="right">
    <a class="link" onclick="window.location.href='/aircraft/admin/add?lang=en'"><b>EN</b></a>
    <a class="link" onclick="window.location.href='/aircraft/admin/add?lang=pl'"><b>PL</b></a>
</div>
<div class="left">
    <a th:href="@{/aircraft/list}">
        <button class="button"><span th:text="#{button.back}"></span> </button>
    </a>
</div>
<form th:action="@{/aircraft/admin/add}" th:object="${aircraft}" method="post">
    <div class="details">
        <div class="quiz-group-left">
            <label class="quiz-names"><span th:text="#{text.aircraft.name}"></span> </label>
            <input type="text" th:field="*{name}"/><br>
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error-message">Name Error</span>
        </div>


        <div class="quiz-group-left">
            <span class="quiz-names"><span th:text="#{text.aircraft.assignment}"></span> </span>
            <br>
            <br>
            <span th:each="assign : ${assignment}">
                <label class="edit-container">
                    <span th:text="${assign}">assignment</span>
                    <input type="radio" th:field="*{assignment}" th:value="${assign}"/>
                    <span class="checkmark"></span>
                </label>
            </span>
        </div>
        <div class="quiz-group-right">
            <span class="quiz-names"><span th:text="#{text.aircraft.role}"></span> </span>
            <br>
            <br>
            <span th:each="role : ${aircraftRole}">
                <label class="edit-container">
                    <span th:text="${role}">aircraft role</span>
                    <input type="radio" th:field="*{aircraftRole}" th:value="${role}"/>
                    <span class="checkmark"></span>
                </label>
            </span>
        </div>


        <div class="quiz-group-right">
            <label class="quiz-names"><span th:text="#{text.aircraft.range}"></span> <strong th:text="#{text.aircraft.range.unit}"></strong>:</label>
            <input type="number" th:field="*{rangeOfAircraft}"/>
            <span th:if="${#fields.hasErrors('rangeOfAircraft')}" th:errors="*{rangeOfAircraft}" class="error-message">Range Error</span>
        </div>
        <div>
            <button class="button right" type="submit"><span th:text="#{button.add}"></span> </button>
        </div>
    </div>
</form>

<div th:include="/fragments::footer"></div>

</body>
</html>