<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">

    <title>Add image</title>
</head>
<body>
<form method="post" enctype="multipart/form-data" th:action="@{/aircraft/admin/addImage/{id}(id=${aircraft.id})}"  >
    <table>
        <tr>
            <td>Dodaj/Zmień zdjęcie: </span> </td>
            <td><input type="file" th:name="file"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Dodaj"/></td>
        </tr>
    </table>
    <a th:href="@{/aircraft/list}"><button>Anuluj</button></a>
</form>

<div th:include="/fragments::footer"></div>

</body>
</html>