<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">

    <title>Add image</title>
</head>
<body>
<form method="post" enctype="multipart/form-data" th:action="@{/aircraft/admin/addImage(id=${aircraft.id})}"  >
    <table>
        <tr>
            <td>Dodaj zdjęcie: </span> </td>

            <td><input type="file" th:name="file" id="files"/></td>
        </tr>
        <tr>
            <td></td>
            <td><button type="submit"><span th:text="#{button.add.image}"></span> </button></td>
        </tr>
    </table>
</form>

<div th:include="/fragments::footer"></div>

</body>
</html>