<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete aircraft</title>
</head>
<body>
<div>
    <p>Na pewno usunąć statek powietrzny o nazwie: <span th:text="${aircraft.name}">name</span>?</p>
</div>
<form th:action="@{/aircraft/delete}" method="post">
    <input type="hidden" th:value="${aircraft.id}" name="id"/>
    <div>
        <button type="submit">Delete</button>
    </div>
</form>
<div>
    <a th:href="@{/aircraft/details(id=${aircraft.id})}">
        <button>Do not delete</button>
    </a>
</div>
</body>
</html>