<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">

    <title>Delete aircraft</title>
</head>
<body>
<div th:include="fragments::userHeader"></div>
<div class="right">
    <a class="link" th:onclick="'window.location.href=\'/aircraft/admin/delete?id=' + ${aircraft.id} + '&lang=en\''"><b>EN</b></a>
    <a class="link" th:onclick="'window.location.href=\'/aircraft/admin/delete?id=' + ${aircraft.id} + '&lang=pl\''"><b>PL</b></a>
</div>
<div class="delete">
    <p>Na pewno usunąć statek powietrzny o nazwie: <span class="link-color" th:text="${aircraft.name}">name</span>?</p>
    <form th:action="@{/aircraft/admin/delete}" method="post">
        <input type="hidden" th:value="${aircraft.id}" name="id"/>
        <button class="button" type="submit"><span th:text="#{button.delete}"></span> </button>
    </form>
    <a th:href="@{/aircraft/details(id=${aircraft.id})}">
        <button class="button"><span th:text="#{button.dont.delete}"></span> </button>
    </a>
</div>


<div th:include="/fragments::footer"></div>

</body>
</html>