<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
</head>
<body>
<div>
    <table th:object="${aircraft}">
        <div>
            <tr>
                <td>Name:</td>
                <td><span th:text="*{name}"/></td>
            </tr>
        </div>
        <div>
            <tr>
                <td>Manufacturer:</td>
                <td><span type="text" th:text="*{manufacturer}"/></td>
            </tr>
        </div>
        <div>
            <tr>
                <td>Assignment:</td>
                <td><span type="text" th:text="*{assignment}"/></td>
            </tr>
        </div>
        <div>
            <tr>
                <td>Role:</td>
                <td><span type="text" th:text="*{aircraftRole}"/></td>
            </tr>
        </div>
        <div>
            <tr>
                <td>Body:</td>
                <td><span type="text" th:text="*{body}"/></td>
            </tr>
        </div>
        <div>
            <tr>
                <td>Wake turbulence category:</td>
                <td><span type="text" th:text="*{wakeTurbulenceCategory}"/></td>
            </tr>
        </div>
        <div>
            <tr>
                <td>Wings:</td>
                <td><span type="text" th:text="*{wings}"/></td>
            </tr>
        </div>
        <div>
            <tr>
                <td>Wings position:</td>
                <td><span type="text" th:text="*{wingsPosition}"/></td>
            </tr>
        </div>
        <div>
            <tr>
                <td>Tail:</td>
                <td><span type="text" th:text="*{tail}"/></td>
            </tr>
        </div>
        <div>
            <tr>
                <td>Number of engines:</td>
                <td><span type="number" th:text="*{numberOfEngines}"/></td>
            </tr>
        </div>
        <div>
            <tr>
                <td>Type of engines:</td>
                <td><span type="text" th:text="*{enginesType}"/></td>
            </tr>
        </div>
        <div> </tr>
            <tr>
                <td>Engines location:</td>
                <td><span type="text" th:text="*{enginesLocation}"/></td>
            </tr>
        </div>
        <div>
            <tr>
                <td>Crew:</td>
                <td><span type="number" th:text="*{crew}"/></td>
            </tr>
        </div>
        <div>
            <tr>
                <td>Passengers:</td>
                <td><span type="number" th:text="*{passengers}"/></td>
            </tr>
            <tr>
                <td>Max speed <strong>[km/h]</strong>:</td>
                <td><span type="number" th:text="*{maxSpeed}"/></td>
            </tr>
        </div>
        <div>
            <tr>
                <td>Range <strong>[km]</strong>:</td>
                <td><span type="number" th:text="*{rangeOfAircraft}"/></td>
            </tr>
        </div>
        <div>
            <tr>
                <td>Ceiling <strong>[m]</strong>:</td>
                <td><span type="number" th:text="*{ceiling}"></span></td>
            </tr>
        </div>
        <div>
            <tr>
                <td>Rate of climb <strong>[ft/m]</strong>:</td>
                <td><span type="number" th:text="*{rateOfClimb}"></span></td>
            </tr>
        </div>
        <div>
            <tr>
                <td>Image:</td>
                <td>
                    <a th:href="@{/aircraft/image(id=*{id})}">
                        <button>Show Image</button>
                    </a>
                </td>
            </tr>
        </div>
        <div>
            <tr>
                <td>Action:</td>
                <td>
                    <a th:href="@{/aircraft/edit(id=${aircraft.id})}">
                        <button>Edytuj</button>
                    </a>
                </td>
                <td>
                    <a th:href="@{/aircraft/delete(id=${aircraft.id})}">
                        <button>Usuń</button>
                    </a>
                </td>
                <td>
                    <a th:href="@{/aircraft/list}">
                        <button>Wróć do listy</button>
                    </a>
                </td>
            </tr>
        </div>
    </table>
</div>

</body>
</html>