<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">

    <title>Edit aircraft</title>
</head>
<body>
<div th:include="fragments::userHeader"></div>
<div class="right">
    <a class="link" th:onclick="'window.location.href=\'/aircraft/admin/edit?id=' + ${aircraft.id} + '&lang=en\''"><b>EN</b></a>
    <a class="link" th:onclick="'window.location.href=\'/aircraft/admin/edit?id=' + ${aircraft.id} + '&lang=pl\''"><b>PL</b></a>
</div>
<div class="left">
    <a th:href="@{/aircraft/details(id=${aircraft.id})}">
        <button class="button"><span th:text="#{button.back}"></span></button>
    </a>
</div>

<form th:action="@{/aircraft/admin/edit}" th:object="${aircraft}" method="post" >
    <div class="details">
        <input type="hidden" th:field="${aircraft.id}">
<!--        <input type="hidden" th:field="${aircraft.file}">-->

        <div class="quiz-group-right">
            <span class="quiz-names" th:text="#{text.aircraft.name}"></span>
            <input type="text" th:field="*{name}"/>
            <span class="error-message" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>
        </div>
        <div class="quiz-group-right">
            <span class="quiz-names"><span th:text="#{text.aircraft.assignment}"></span> </span>
            <span th:each="assign : ${assignment}">
                <label class="edit-container">
                    <span th:text="${assign}">assignment</span>
                    <input type="radio" th:field="*{assignment}" th:value="${assign}"/>
                    <span class="checkmark"></span>
                </label>
            </span>
        </div>
        <div class="quiz-group-right">
            <span class="quiz-names"><span th:text="#{text.aircraft.role}"></span> </span>
            <span th:each="role : ${aircraftRole}">
                <label class="edit-container">
                    <span th:text="${role}">aircraft role</span>
                    <input type="radio" th:field="*{aircraftRole}" th:value="${role}"/>
                    <span class="checkmark"></span>
                </label>
            </span>
        </div>

        <div class="quiz-group-right">
            <label class="quiz-names"><span th:text="#{text.aircraft.range}"></span> <strong
                    th:text="#{text.aircraft.range.unit}"></strong>:</label>
            <input type="number" th:field="*{rangeOfAircraft}"/>
            <div class="error-message" th:if="${#fields.hasErrors('rangeOfAircraft')}" th:errors="*{rangeOfAircraft}">
                Range Error
            </div>
        </div>

        <button class="button" type="submit"><span th:text="#{button.edit}"></span></button>
    </div>
</form>
<div th:include="/fragments::footer"></div>

</body>
</html>