<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">

    <title>Edit aircraft</title>
</head>
<body>
<div>
    <a th:href="@{/aircraft/details(id=${aircraft.id})}">
        <button><span th:text="#{button.back}"></span> </button>
    </a>
</div>

<form th:action="@{/aircraft/admin/edit}" th:object="${aircraft}" method="post">
    <div>
        <table>
            <input type="hidden" th:field="*{id}">
            <input type="hidden" th:field="*{file}">

            <div>
                <tr>
                    <td>Name:</td>
                    <td><input type="text" th:field="*{name}"/></td>
                    <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
                </tr>
            </div>
            <div>
                <tr>
                    <td>Manufacturer:</td>
                    <td><input type="text" th:field="*{manufacturer}"/></td>
                    <td th:if="${#fields.hasErrors('manufacturer')}" th:errors="*{manufacturer}">Manufacturer Error</td>
                </tr>
            </div>
            <div>
                <tr>
                    <td>Assignment:</td>
                    <td th:each="assignment : ${assignment}">
                        <input type="radio" th:field="*{assignment}" th:value="${assignment}">
                        <span th:text="${assignment}">assignment</span>
                    </td>
                </tr>
            </div>
            <div>
                <tr>
                    <td>Role:</td>
                    <td>
                        <div th:each="role : ${aircraftRole}">
                            <input type="radio" th:field="*{aircraftRole}" th:value="${role}">
                            <span th:text="${role}">aircraftRole</span>
                        </div>
                    </td>
                </tr>
            </div>
            <div>
                <tr>
                    <td>Body:</td>
                    <td th:each="body : ${body}">
                        <input type="radio" th:field="*{body}" th:value="${body}"/>
                        <span th:text="${body}">body</span>
                    </td>
                </tr>
            </div>
            <div>
                <tr>
                    <td>Wake turbulence category:</td>
                    <td th:each="wtc : ${WTC}">
                        <input type="radio" th:field="*{wakeTurbulenceCategory}" th:value="${wtc}"/>
                        <span th:text="${wtc}">wake turbulence category</span>
                    </td>
                </tr>
            </div>
            <div>
                <tr>
                    <td>Wings:</td>
                    <td th:each="wings : ${wings}">
                        <input type="radio" th:field="*{wings}" th:value="${wings}"/>
                        <span th:text="${wings}">wings</span>
                    </td>
                </tr>
            </div>
            <div>
                <tr>
                    <td>Wings position:</td>
                    <td th:each="position : ${wingsPosition}">
                        <input type="radio" th:field="*{wingsPosition}" th:value="${position}"/>
                        <span th:text="${position}">wings position</span>
                    </td>
                </tr>
            </div>
            <div>
                <tr>
                    <td>Tail:</td>
                    <td>
                        <div th:each="tail : ${tail}">
                            <input type="radio" th:field="*{tail}" th:value="${tail}">
                            <span th:text="${tail}">aircraftRole</span>
                        </div>
                    </td>
                </tr>
            </div>
            <div>
                <tr>
                    <td>Number of engines:</td>
                    <td><input type="number" th:field="*{numberOfEngines}"/></td>
                    <td th:if="${#fields.hasErrors('numberOfEngines')}" th:errors="*{numberOfEngines}">Number of engines
                        Error
                    </td>
                </tr>
            </div>
            <div>
                <tr>
                    <td>Type of engines:</td>
                    <td th:each="type : ${enginesType}">
                        <input type="radio" th:field="*{enginesType}" th:value="${type}"/>
                        <span th:text="${type}">engines type</span>
                    </td>
                </tr>
            </div>
            <div>
                <tr>
                    <td>Engines location:</td>
                    <td><input type="text" th:field="*{enginesLocation}"/></td>
                    <td th:if="${#fields.hasErrors('enginesLocation')}" th:errors="*{enginesLocation}">Engines Location
                        Error
                    </td>
                </tr>
            </div>
            <div>
                <tr>
                    <td>Crew:</td>
                    <td><input type="number" th:field="*{crew}"/></td>
                    <td th:if="${#fields.hasErrors('crew')}" th:errors="*{crew}">Crew Error</td>
                </tr>
            </div>
            <div>
                <tr>
                    <td>Passengers:</td>
                    <td th:each="passengers : ${passengers}">
                        <input type="radio" th:field="*{passengers}" th:value="${passengers}"/>
                        <span th:text="${passengers}">engines type</span>
                    </td>
                </tr>
            </div>
            <div>
                <tr>
                    <td>Max speed <strong>[km/h]</strong>:</td>
                    <td><input type="number" th:field="*{maxSpeed}"/></td>
                    <td th:if="${#fields.hasErrors('maxSpeed')}" th:errors="*{maxSpeed}">Max speed Error</td>
                </tr>
            </div>
            <div>
                <tr>
                    <td>Range <strong>[km]</strong>:</td>
                    <td><input type="number" th:field="*{rangeOfAircraft}"/></td>
                    <td th:if="${#fields.hasErrors('rangeOfAircraft')}" th:errors="*{rangeOfAircraft}">Range Error</td>
                </tr>
            </div>
            <div>
                <tr>
                    <td>Ceiling <strong>[m]</strong>:</td>
                    <td><input type="number" th:field="*{ceiling}"/></td>
                    <td th:if="${#fields.hasErrors('ceiling')}" th:errors="*{ceiling}">Ceiling Error</td>
                </tr>
            </div>
            <div>
                <tr>
                    <td>Rate of climb <strong>[ft/m]</strong>:</td>
                    <td><input type="number" th:field="*{rateOfClimb}"/></td>
                    <td th:if="${#fields.hasErrors('rateOfClimb')}" th:errors="*{rateOfClimb}">Rate of climb Error</td>
                </tr>
            </div>
            <div>
                <tr>
                    <td>
                        <button type="submit"><span th:text="#{button.edit}"></span> </button>
                    </td>
                </tr>
            </div>
        </table>
    </div>
</form>
<div th:include="/fragments::footer"></div>

</body>
</html>