<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">

    <title>Edit aircraft</title>
</head>
<body>
<div th:include="fragments::userHeader"></div>
<div class="right">
    <a class="link" th:onclick="'window.location.href=\'/aircraft/admin/edit?id=' + ${aircraft.id} + '&lang=en\''"><b>EN</b></a>
    <a class="link" th:onclick="'window.location.href=\'/aircraft/admin/edit?id=' + ${aircraft.id} + '&lang=pl\''"><b>PL</b></a>
</div>
<div class="left">
    <a th:href="@{/aircraft/details(id=${aircraft.id})}">
        <button class="button"><span th:text="#{button.back}"></span></button>
    </a>
</div>

<form th:action="@{/aircraft/admin/edit}" th:object="${aircraft}" method="post">
    <div class="details">
        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{file}">

        <div class="quiz-group-right">
            <span class="quiz-names" th:text="#{text.aircraft.name}"></span>
            <input type="text" th:field="*{name}"/>
            <span class="error-message" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>
        </div>
        <div class="quiz-group-right">
            <label class="quiz-names"><span th:text="#{text.aircraft.manufacturer}"></span> </label>
            <input type="text" th:field="*{manufacturer}"/>
            <span class="error-message" th:if="${#fields.hasErrors('manufacturer')}" th:errors="*{manufacturer}">Manufacturer Error</span>
        </div>
        <div class="quiz-group-right">
            <span class="quiz-names"><span th:text="#{text.aircraft.assignment}"></span> </span>
            <span th:each="assign : ${assignment}">
                <label class="edit-container">
                    <span th:text="${assign}">assignment</span>
                    <input type="radio" th:field="*{assignment}" th:value="${assign}"/>
                    <span class="checkmark"></span>
                </label>
            </span>
        </div>
        <div class="quiz-group-right">
            <span class="quiz-names"><span th:text="#{text.aircraft.role}"></span> </span>
            <span th:each="role : ${aircraftRole}">
                <label class="edit-container">
                    <span th:text="${role}">aircraft role</span>
                    <input type="radio" th:field="*{aircraftRole}" th:value="${role}"/>
                    <span class="checkmark"></span>
                </label>
            </span>
        </div>
        <div class="quiz-group-right">
            <span class="quiz-names"><span th:text="#{text.aircraft.body}"></span> </span>
            <span th:each="body : ${body}">
                <label class="edit-container">
                    <span th:text="${body}">body</span>
                    <input type="radio" th:field="*{body}" th:value="${body}"/>
                    <span class="checkmark"></span>
                </label>
            </span>
        </div>
        <div class="quiz-group-right">
            <span class="quiz-names"><span th:text="#{text.aircraft.wtc}"></span> </span>
            <span th:each="wtc : ${WTC}">
                <label class="edit-container">
                    <span th:text="${wtc}">aircraft role</span>
                    <input type="radio" th:field="*{wakeTurbulenceCategory}" th:value="${wtc}"/>
                    <span class="checkmark"></span>
                </label>
            </span>
        </div>
        <div class="quiz-group-right">
            <span class="quiz-names" th:text="#{text.aircraft.wings}"></span>
            <span th:each="wings : ${wings}">
                <label class="edit-container">
                    <span th:text="${wings}">wings</span>
                    <input type="radio" th:field="*{wings}" th:value="${wings}"/>
                    <span class="checkmark"></span>
                </label>
            </span>
        </div>
        <div class="quiz-group-right">
            <span class="quiz-names" th:text="#{text.aircraft.wings.position}"></span>
            <span th:each="position : ${wingsPosition}">
                <label class="edit-container">
                    <span th:text="${position}">wings position</span>
                    <input type="radio" th:field="*{wingsPosition}" th:value="${position}"/>
                    <span class="checkmark"></span>
                </label>
            </span>
        </div>
        <div class="quiz-group-right">
            <span class="quiz-names" th:text="#{text.aircraft.tail}"></span>
            <span th:each="tail : ${tail}">
                <label class="edit-container">
                    <span th:text="${tail}">tail</span>
                    <input type="radio" th:field="*{tail}" th:value="${tail}"/>
                    <span class="checkmark"></span>
                </label>
            </span>
        </div>
        <div class="quiz-group-right">
            <label class="quiz-names"><span th:text="#{text.aircraft.engines.number}"></span></label>
            <input type="number" th:field="*{numberOfEngines}"/>
            <div class="error-message" th:if="${#fields.hasErrors('numberOfEngines')}" th:errors="*{numberOfEngines}">
                Number of engines Error
            </div>
        </div>
        <div class="quiz-group-right">
            <span class="quiz-names" th:text="#{text.aircraft.engines.type}"></span>
            <span th:each="type : ${enginesType}">
                <label class="edit-container">
                    <span th:text="${type}">tail</span>
                    <input type="radio" th:field="*{enginesType}" th:value="${type}"/>
                    <span class="checkmark"></span>
                </label>
            </span>
        </div>
        <div class="quiz-group-right">
            <label class="quiz-names"><span th:text="#{text.aircraft.engines.location}"></span> </label>
            <input type="text" th:field="*{enginesLocation}"/>
            <div class="error-message" th:if="${#fields.hasErrors('enginesLocation')}" th:errors="*{enginesLocation}">
                Engines Location
                Error
            </div>
        </div>
        <div class="quiz-group-right">
            <label class="quiz-names"><span th:text="#{text.aircraft.crew}"></span> </label>
            <input type="number" th:field="*{crew}"/>
            <div class="error-message" th:if="${#fields.hasErrors('crew')}" th:errors="*{crew}">Crew Error</div>
        </div>
        <div class="quiz-group-right">
            <span class="quiz-names" th:text="#{text.aircraft.passengers}"></span>
            <span th:each="passen : ${passengers}">
                <label class="edit-container">
                    <span th:text="${passen}">tail</span>
                    <input type="radio" th:field="*{passengers}" th:value="${passen}"/>
                    <span class="checkmark"></span>
                </label>
            </span>
        </div>
        <div class="quiz-group-right">
            <label class="quiz-names"><span th:text="#{text.aircraft.max.speed}"></span> <strong
                    th:text="#{text.aircraft.max.speed.unit}"></strong>:</label>
            <input type="number" th:field="*{maxSpeed}"/>
            <div class="error-message" th:if="${#fields.hasErrors('maxSpeed')}" th:errors="*{maxSpeed}">Max speed
                Error
            </div>
        </div>
        <div class="quiz-group-right">
            <label class="quiz-names"><span th:text="#{text.aircraft.range}"></span> <strong
                    th:text="#{text.aircraft.range.unit}"></strong>:</label>
            <input type="number" th:field="*{rangeOfAircraft}"/>
            <div class="error-message" th:if="${#fields.hasErrors('rangeOfAircraft')}" th:errors="*{rangeOfAircraft}">
                Range Error
            </div>
        </div>
        <div class="quiz-group-right">
            <label class="quiz-names"><span th:text="#{text.aircraft.ceiling}"></span> <strong
                    th:text="#{text.aircraft.ceiling.unit}"></strong>:</label>
            <input type="number" th:field="*{ceiling}"/>
            <div class="error-message" th:if="${#fields.hasErrors('ceiling')}" th:errors="*{ceiling}">Ceiling Error
            </div>
        </div>
        <div class="quiz-group-right">
            <label class="quiz-names"><span th:text="#{text.aircraft.rate.of.climb}"></span> <strong
                    th:text="#{text.aircraft.rate.of.climb.unit}"></strong>:</label>
            <input type="number" th:field="*{rateOfClimb}"/>
            <div class="error-message" th:if="${#fields.hasErrors('rateOfClimb')}" th:errors="*{rateOfClimb}">Rate of
                climb Error
            </div>
        </div>
        <button class="button" type="submit"><span th:text="#{button.edit}"></span></button>
    </div>
</form>
<div th:include="/fragments::footer"></div>

</body>
</html>