<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">

    <title>List of aircraft</title>
</head>
<body>
<div th:include="/fragments::userHeader"></div>
<div sec:authorize="hasRole('ADMIN')">
    <a th:href="@{/aircraft/admin/add}">
        <button>Add aircraft</button>
    </a>
</div>
<div class="container-list">
    <table>
        <thead>
        <div>
            <tr>
                <th class="table-th"> Name</th>
                <th class="table-th"> Manufacturer</th>
                <th class="table-th"> Action</th>
            </tr>
        </div>
        </thead>
        <tbody>
        <div>
            <tr th:each="air : ${aircraft}">
                <td><span th:text="${air.name}"></span></td>
                <td><span th:text="${air.manufacturer}"></span></td>
                <td>
                    <a th:href="@{/aircraft/details(id=${air.id})}">
                        <button class="text-font link">Details</button>
                    </a>
                </td>
            </tr>
        </div>
        </tbody>
    </table>
</div>
<div th:include="/fragments::footer"></div>

</body>
</html>