<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of aircraft</title>
</head>
<body>
<a th:href="@{/aircraft/add}">
    <button>Add aircraft</button>
</a>
<div>
    <table>
        <thead>
        <tr>
            <th> Name</th>
            <th> Manufacturer</th>
            <th> Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="air : ${aircraft}">
            <td><span th:text="${air.name}"></span></td>
            <td><span th:text="${air.manufacturer}"></span></td>
            <td>
                <a th:href="@{/aircraft/details(id=${air.id})}">
                <button>Details</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>